body{
    margin: 0;
}

header {
    margin: 0;
    padding: 0;

}

ul{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style-type: none;
}

li {
    text-decoration: none;
}

a {
   color: inherit;
    text-decoration: none;
}